body{
background-color: lightyellow;
}

h2
{
	text-align: center;
	font-size: 95%;
}

table,th,td {
	align-content: center;
  border : 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica;
}
th,td {
	font-family: Arial, Helvetica;
  padding: 5px;
}
