body{
background-color: lightyellow;
}

img
{
 width: 100px;
 height: auto;
}

img:hover
{

width: 400px;
height: auto;


}



figcaption
{
font-family: Arial, Helvetica;
font-size: 60%;

}

.carpics
{
 width: 70%;
 margin-left: 15%;
 margin-right: 15%;
}