* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}



header
{
    
    background-image: linear-gradient(rgba(212,161,21,.356), rgb(245, 237, 215));
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 500%;
    height: 28vh;
    margin: 0%;
}



body
{
    
    width: 100%;
    height: 100%;;
    margin: 0%;
    display: block;
    position: relative;

}

body::after
{
    content: "";
    background-image: url(Images/gold.jpg);
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}



.background_image
{
    
    position: absolute;
    top: 0%;
    left:10%;
    background-repeat: repeat;

}

#main
{
    display: flex;
    padding-bottom: 0%;
}

#main > nav
{

    display: block;
    order: 1;
    width: 8%; 
    font-size: 110%;
    border-right: 1px solid black;

}

#main > article 
{
  
    display: block;
    order: 2;
    columns: 2;
    column-fill: balance;
    column-rule: 1px solid black;
    font-size: 125%;
    padding: 16px;
    text-align: center;
    font-family: 'Courgette', cursive;
    line-height: 200%;
    width: 90%;

}

footer
{
    text-align: center;
    padding-top: 2%;
}

ul
{
    list-style-type: none;

}

li a
{
    display:block;
    color: black;
    padding: 5px 16px;

}

li a:hover
{
    display:block;
    color: white;
    background-color: royalblue;
    
}



